<<<<<<< HEAD

=======
>>>>>>> a57a517 (Initial commit for hosting the project on Git)
body,* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
<<<<<<< HEAD
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
=======
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
>>>>>>> a57a517 (Initial commit for hosting the project on Git)
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




@import './components/App/App';
<<<<<<< HEAD
@import './components/Buttons/Buttons';

*{
    padding:0;
    margin:0;
    
}

body {
    margin: 0;
    padding:0;
    // display:relative;
    
    
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

=======
@import './components/Buttons/Buttons'
>>>>>>> a57a517 (Initial commit for hosting the project on Git)
